* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
}

form {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-self: center;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border: 2px solid #030127;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #030127;
}

button:hover {
  background-color: #007bff;
}

button {
  padding: 10px 16px;
  background-color: #030127;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.beer-card {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 80%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.beer-card img {
  width: 50%;
  height: auto;
  margin-right: 20px;
}

.beer-info {
  flex-grow: 1;
}

.container {
  position: relative;
}

.container img {
  width: 100%;
  height: auto;
  display: block;
}

.container-text {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  font-weight: 500;
  color: #030127;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  text-align: center;
  margin: 0;
}
